<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Engine Course Design 1</title>
    <link href="https://www.bootcss.com/p/buttons/css/buttons.css" rel="stylesheet" type="text/css"/>
    <style>
        .main{
            text-align: center; /*让div内部文字居中*/
            background-color: #fff;
            border-radius: 20px;
            width: 300px;
            height: 350px;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-family:"Microsoft Yahei";
        }
    </style>
</head>
<body>
<div class="container jumbotron">

</div>
    <div class="main" >
        <h1>互联网搜索引擎<br>课程设计1</h1>
        <h5>@2018110610</h5>
        <br><br><br>
        <span class="button-wrap">
            <a href="/loading" class="button button-pill button-raised button-primary">Start Crawling</a>
        </span>
        <br><br><br><br>

        <span class="button-wrap">
            <a href="/showResult" class="button button-pill button-raised button-primary">Show Result</a>
        </span>
    </div>

</body>
</html>